body							{ font-family: "Lucida Grande", Helvetica, Arial, sans-serif;  margin: 0; }

#banner_container				{ height: 30px; background: #000; }
#banner							{ width: 750px; margin: 0px auto; color: #666; padding-top: 7px; font-size: .7em; }
#banner a						{ color: #fff; text-decoration: none; }

#page							{ width: 750px; margin: 0px auto; padding: 30px 0 0; }

h1								{ font-size: 21px; letter-spacing: -0.02em; margin: 0; margin-bottom: 3px; text-align: center; }
h2								{ font-size: 18px; letter-spacing: -0.02em; margin: 0; margin-bottom: 3px; text-align: center; }

a#permalink						{ display: block; font-size: .7em; color: #999; text-align: center; }

table							{ margin: 20px auto 0; padding-top: 20px; border-top: solid 1px #bbb; }

.head							{ vertical-align: bottom; border-bottom: solid 2px black; margin: 0; padding: 10px 25px 3px 10px; font-weight: bold; letter-spacing: -0.02em; min-width: 150px; }
.tail							{ vertical-align: top; font-size: .7em; margin: 0; padding: 4px 25px 10px 10px; color: #777; }

.leftborder						{ border-left: solid 2px black; padding-left: 8px; }
								/* 8px left padding compensates for 2px border */

table#add_table					{ padding-top: 0px; margin-top: 0; }
#add_table textarea				{ width: 175px; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; font-size: 1em; padding: 3px; border: solid 1px #ccc; }
#add_table .head textarea		{ font-weight: bold; margin-top: 15px; height: 50px; }
#add_table .tail				{ padding-top: 3px; }
#add_table .tail textarea		{ margin-bottom: 15px; height: 50px; }

#footer							{ width: 750px; margin: 0px auto; border-top: solid 1px #ddd; margin-top: 25px; padding-top: 3px; font-size: .7em; color: #bbb; padding-bottom: 100px; }
#footer a						{ color: #aaa; font-weight: bold; text-decoration: none; }
#footer a:hover					{ text-decoration: underline; }

#url_container					{ width: 650px; font-size: .8em; margin: 0px auto; color: #aaa; text-align: center; margin-top: 30px; margin-bottom: 20px; }
.url							{ font-weight: bold; color: #666; }

input#slug						{ font-weight: bold; font-size: 1em; width: 115px; background: #ff9; border: solid 1px #ccc; padding: 2px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

#add_page						{ width: 650px; margin: 0px auto; font-size: .9em; }
#add_page h2					{ margin-bottom: 15px; }

textarea#notes					{ width: 644px; height: 150px; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; font-size: 1em; padding: 3px; border: solid 1px #ccc; }

input#save_pedigree				{ font-size: 1.4em; margin: 35px auto 50px; display: block; width: 200px; height: 50px; text-indent: -1000em; background: url(/images/save_button.png) no-repeat; border: none; }
input#save_pedigree:hover		{ cursor: pointer; }

ul#pedigree_list				{ list-style: none; padding: 5px 0; border-top: solid 2px #ddd; border-bottom: solid 2px #ddd; }
ul#pedigree_list li				{ padding: 4px 0; }
ul#pedigree_list li a			{ font-weight: bold; color: #000; }
ul#pedigree_list li a:hover		{ background: #eee; }
