		</div>
		<div id="footer">This app was written by <a href="http://bencrowder.net/">Ben Crowder</a>. It's in the public domain (the code's on <a href="http://github.com/bencrowder/pedigree">GitHub</a>). Enjoy. :)</div>
		<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-571065-12");
pageTracker._trackPageview();
} catch(err) {}</script>
	</body>
</html>
